/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/scripts/
composer.lock
.fleet
.idea
.vscode
imports
/test/
/laravel/.phpstorm.meta.php
/laravel/_ide_helper.php
/laravel/_ide_helper_models.php

*.log
.DS_Store
.env.dev
.env.develop
.env.release
.env.local
/.nova
/.zed
/auth.json
/public/build
/storage/pail
Thumbs.db
app.http

/storage/app/
/storage/framework/
